h1{
  background-color: black;
  color: wheat;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}
